body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    background-color: white;
    color: black;
}

.wd-bookmarks-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.wd-left-icon {
    position: relative;
    margin-left: 2rem;
}

.wd-header {
    flex-grow: 1;
    margin-left: 2rem;
}

.wd-right-icon {
    position: relative;
    margin-right: 2rem;
}

.wd-profile {
    width: 10%;
}

.wd-profile img {
    width: 48px;
    border-radius: 50%;
}

.wd-tuit-card {
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
    border: 1px solid lightgrey;
}

.wd-tuit-img {
    position: relative;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.wd-tuit-container {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.wd-tuit-content {
    width: 80%;
}

.wd-bookmarks-main-content {
    width: 50%;
    border: 1px solid lightgrey;
}

.wd-top-right {
    position: relative;
    right: 1rem;
}

.wd-tuit-card-text {
    padding-left: 1rem;
}

.wd-bookmarks-icons {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.wd-bookmarks-icons li {
    margin-right: 3rem;
}

.wd-bookmarks-icons i {
    font-weight: bold;
    font-size: 1rem;
}

.wd-icon-num {
    margin-left: 1rem;
}

.wd-tuit-link {
    text-decoration: none;
}